<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>CCoE Network Automation</title>
    </head>
    <body>
        <div class="alert alert-info" role="alert">
        <h1>ISE MAC Bypass</h1><br>
        <h3>Data Input</h3><br>
        <h5>Select Input Method<br><br></h5>
        <a class="btn btn-primary" href="file_upload" role="button">Import CSV File</a>
        <a class="btn btn-primary" href="manual_upload" role="button">Input Data Manually</a>   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        </div>
    </body>
</html>